ul{

}
li{
   display: inline;
   padding: 20px;
}
   a:link{
       color:red;
   }
   a:visited{
       color: yellow;
   }
   a:hover{
       color: aqua;
   }

   a:active{
       color: blue;
   }
   p::first-letter{
       font-size: 30px;
       color: blue;
   }
       P::first-line{
           color: aqua;

       }
       span{
           color: brown;
       }
       P{
           text-indent:100px;
       }
       h1{
         text-transform: uppercase;
         word-spacing: 30px;
         letter-spacing: 30px;

       }
